:root {
    --black-1: #000000;
    --black-2: #121212;
    --white-1: #FFFFFF;
    --white-2: #EEEEEE;
    --brand-color-1: #F98E00;
    --brand-color-2: #cfa164;
}
.footer {
    min-height: 300px;
    width: 100vw;
    font-size: 16px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 99;
}
.footer .footLeft {
    height: 100%;
    min-width: 400px;
}
.footer .footLeft .companyName {
    font-size: 5em
}
.footer .footRight {

    width: 50%;
    width: 540px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer .footRight .contactContainer {
    min-width: 270px;
}
.footer .footRight .contactContainer .listTitle {
    font-size: 1.2em;
    margin: 15px 0px;
}
.footer .footRight .contactContainer .contactListItem {
    display: flex;
    justify-content: start;
    align-items: center;
}
.footer .footRight .contactContainer .contactListItem .contactIco {
    height: 20px;
    border-radius: 10px;
    border: 5px solid var(--white-2);
    background: var(--white-2);
}
.footer .footRight .contactContainer .contactListItem .contactDetail {
    font-size: 1em;
    margin: 15px 10px;
}
.footer .footRight .ppInfoContainer {
    min-width: 270px;

}
.footer .footRight .ppInfoContainer .listTitle {
    font-size: 1.2em;
    margin: 15px 0px;
}
.footer .footRight .ppInfoContainer .ppInfoListItem {
    display: flex;
    justify-content: start;
    align-items: center;
}
.footer .footRight .ppInfoContainer .ppInfoListItem .ppInfoIco {
    height: 20px;
    border-radius: 10px;
    border: 5px solid var(--white-2);
    background: var(--white-2);
}
.footer .footRight .ppInfoContainer .ppInfoListItem .ppInfoDetail {
    font-size: 1em;
    margin: 15px 10px;
}


@media screen and (max-width: 450px) {
    .footer .footLeft .companyName {
        font-size: 15vw;
        text-align: center;
        padding: 10px 0;
    }
    .footer .footRight {
        flex-direction: column;
        align-items: start;
        padding: 0 10% 0;
        min-width: unset;
        width: 80%;
    }

}